body{
    background-color: rgb(221, 233, 255);
}

.resume{
    font-weight: bold;
    text-decoration: underline;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#top{
    color: blue;
}

.top{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bold;
}

.font{
    font-weight: bold;
    font-style: initial;
    font-size: larger;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 75%;    
}

.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    }